body {
	font-size: 14pt;
}

#submitButton {
	text-align: center;
	margin: 0 auto;
	display: none;
}

.preload {
	display: none;
}

.instructions {
	padding-top: 20px;
	padding-left: 200px;
	padding-right: 200px;
	margin: 0 auto;
	display: none;
	text-align: justify;
}

#startingInstructions {
	display: block;
}

.buttonDiv {
	width: 200px;
	text-align: center;
	border: 4px outset gray;
	background:gray;
	padding: 5px;
	margin: 0 auto;
	color: white;
	display: none;
}

#startPracticeButton {
	display: block;
}

/*#startExperimentButton {
	display: block;
}*/

.trialDiv {
	border: 2px solid gray;
	padding: 20px;
	width: 200px;
	margin:0 auto;
	display: none;
}

#experimentBox {
	border: 2px solid black;
	width: 900px;
	height: 600px;
	margin:0 auto;
	display: none;
	background-color: rgb(148,145,140);
	position: relative;
}

.fixationDiv {
	position: absolute;
	top: 290px; /* (height of experiment box - height of fixation)/2 */
	left: 440px;/* (width of experiment box - width of fixation)/2 */
	display: none;
}

.objectDiv {
	position: absolute;
	top: 225px; /* (height of experiment box - height of object)/2 */
	left: 375px;/* (width of experiment box - width of object)/2 */
	display: none;
	/*width: 100px;*/
}

.scene1Div {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	/*margin: 0 auto;*/
	/*width: 0px;*/
}

.scene2Div {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	/*margin: 0 auto;*/
	/*width: 0px;*/
}

.maskDiv {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}

.circleDiv {
	position: absolute;
	top: 175px;
	left: 325px;
	display: none;
}

.ageDiv {
	display: none;
}
